* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  height: 120px;
  border: 2px solid black;
  padding: 40px;
}

main {
  display: flex;
  flex: 1;
  background-color: rgb(2, 2, 32);
  padding: 80px;
  color: white;
}

footer {
  display: flex;
  justify-content: space-between;
  height: 120px;
  border: 2px solid black;
  padding: 40px;
}

.navigation {
  display: flex;
  gap: 15px;
  align-items: center;
}
